// use a fixed sidebar for desktop

main, header {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  main, header {
    padding-left: 0;
  }
}

@media only screen and (min-width : 993px) {
  .container {
    width: 85%; }
}

// extra sidenav tweaks
.side-nav a.normal-link{
  line-height: 1rem;
  height: auto;
}

// extra styling noty
.noty_message{
    padding:20px !important;
}

// extra icon styling
.icon-sidebar{
  margin-right: 10px;
  top: 2px;
  position: relative;
  font-size: 18px;
}

// display user row
.user-letter{
  font-size: 1.9rem;
}
.user-name{
  position: relative;
  padding-left: 89px;
  padding-top: 23px;
  padding-bottom: 23px;
  width: 100%;
  display: block;
}
.user-letter-row-wrapper:hover{
  background-color: #26a69a;
  color: white;
}
.user-letter-row-wrapper .has-action-button{
  padding-right: 110px;
}
.user-letter-row-wrapper{
  display: block;
  color: black;
}
.user-row-circle{
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
}
.action-btn{
  position: relative;
  float: right;
  margin-top: -52px;
  margin-right: 20px;
  z-index: 1;
}
