// use a fixed sidebar for desktop

main, header {
  padding-left: 240px;
}
main.nopadding, header.no-padding{
  padding-left: 0px;
}

@media only screen and (max-width : 992px) {
  main, header {
    padding-left: 0;
  }
}

@media only screen and (min-width : 993px) {
  .container {
    width: 85%;
  }
  .full-scroll{
    max-height: 100%;
    overflow: auto;
  }
  nav .brand-logo{
    margin-left: 20px;
  }
}

// extra sidenav tweaks
.side-nav a.normal-link{
  line-height: 1rem;
  height: auto;
}
.nav-spacer{
  margin-left: 20px;
  margin-right: 20px;
}
.button-collapse{
  float:none;
}

// extra styling noty
.noty_message{
    padding:20px !important;
}

// extra icon styling
.icon-sidebar{
  margin-right: 10px;
  top: 2px;
  position: relative;
  font-size: 18px;
}

// display user row
.list-row-link{
  display: block;
  color:black;
  padding: 25px
}
.list-row-wrapper{
  position: relative;
}
.list-row-wrapper:hover{
  background-color: rgba(0, 150, 136, 0.1);
}
.list-row-wrapper .has-action-button .list-row-wrapper{
  margin-right:-100px;
}
.list-row-wrapper a.has-action-button,
.list-row-wrapper .has-action-button{
  margin-right: 110px;
}
.list-row-wrapper a.has-image,
.list-row-wrapper .has-image{
  padding-left: 80px;
}
.list-row-image{
  position: absolute;
  height: 40px;
  width: 40px;
  left: 20px;
  top: 15px;
  float: left;
}
.list-row-image i{
  padding: 8px;
}
.action-btn{
  position: absolute;
  right: 20px;
  top: 18px;
}
.small{
  font-size: 12px;
  color: #cfd8dc;
}

// bullet list
ul.bullets li {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 10px;
}

// tab
.tab{
  margin-left: 20px;
}

// video
.video-js, .video-js video {
  position: relative !important;
  width: 100% !important;
  height: auto !important;
  overflow: hidden;
  margin-bottom: -2px;
}
.video-js{
  font-size:14px;
}
.video-js .vjs-big-play-button {
  line-height: 2.8em;
  height: 3em;
  width: 3em;
  border-radius: 2em;
  border: 0.1em solid #fff;
}
.vjs-big-play-centered .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin-top: -1.5em;
    margin-left: -1.5em;
}
.vjs-control-bar {
  visibility: visible !important;
  opacity: 1 !important;
}
.video-js .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1em;
}
// chapters
.chapters-wrapper{
  width:100%;
  position: absolute;
  top: 0px;
  margin-right: -1px;
}
.chapter-wrapper{
  float:left
}
.chapter:hover{
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
}
.chapter.done:hover{
  background-color: rgba(205,220,57,0.8) !important;
  cursor: pointer;
}
.chapter.active:hover{
  background-color: rgba(255,193,7,0.8);
  cursor: pointer;
}
.chapter.active{
  background-color: rgba(255,193,7,0.6);
}
.chapter{
  background-color: rgba(255,255,255,0.3);
  height: 30px;
  margin-right: 1px;
}
.chapter.done{
  background-color: rgba(205,220,57,0.6);
}
.analysis .video-js .vjs-progress-holder {
  top: -12px;
}
.analysis label{
  margin-right: 20px;
}
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label{
  padding-left:30px;
}
.question{
  position: relative
}
.done-icon{
  display: none;
  position: absolute;
  position: absolute;
  left: -27px;
  top: -3px;
}
.has-answer .done-icon{
  display: block;
}

/** blocks order **/
body.block-dragging, body.block-dragging * {
  cursor: move !important;
}

.block-dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.block-dragging .blocks-order, .block-dragging .blocks-container {
  min-height: 50px;
  border: 1px dotted teal;
}
.block-dragging .blocks-order li.placeholder, .block-dragging .blocks-container li.placeholder {
  position: relative;
  width: 100%;
  height: 20px;
  display: block;
  background-color:teal;
  /** More li styles **/
}
.block-dragging .blocks-order li.placeholder:before, .block-dragging .blocks-container li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}
